@media (max-width:1000px) {
    body {
        background: whitesmoke;
    }
    .head {
        display: grid;
        grid-template-areas: "tittle" "main-menu" "sidebar-menu";
    }
    .tittle {
        grid-area: tittle;
        text-align: center;
        background-image: url(../img/fondo.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: auto;
        padding-top: 5%;
    }
    .main-menu {
        grid-area: main-menu;
        text-align: center;
        border: 2px solid rgba(168, 168, 168, 0.479);
        border-radius: 5px;
    }
    ul li {
        display: inline;
    }
    #scrollmenu {
        background-color: #333;
        overflow: auto;
        white-space: nowrap;
    }
    #scrollmenu a {
        display: inline-block;
        color: white;
        text-align: center;
        padding: 14px;
        text-decoration: none;
    }
    #scrollmenu a:hover {
        background-color: #777;
    }
    .menu-content {
        display: none;
        position: absolute;
        background-color: #777;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }
    .menu-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }
    #scrollmenu:hover .menu-content {
        display: block;
    }
    .nav-menu {
        grid-area: sidebar-menu;
        width: 100%;
        top: -4%;
        left: 0%;
        position: fixed;
    }
}