body {
    background: whitesmoke;
}

.head {
    display: grid;
    grid-template-areas: "tittle" "main-menu";
}

.tittle {
    grid-area: tittle;
    text-align: center;
    background-image: url(../img/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: auto;
}

.main-menu {
    grid-area: main-menu;
    text-align: center;
    border: 2px solid rgba(168, 168, 168, 0.479);
    border-radius: 5px;
}

.grid {
    display: grid;
    grid-template-columns: [sidebar-menu] 35% [main-content];
}

.nav-menu {
    grid-column: sidebar-menu;
}

.main-content {
    grid-column: main-content;
}

aside {
    position: fixed;
    background: whitesmoke;
    border: 2px white;
    border-radius: 5px;
}

#principal .main {
    display: inline;
}

#scrollmenu a:hover {
    background-color: #777;
}

.menu-content {
    display: none;
    position: absolute;
    background-color: #777;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.menu-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

#scrollmenu:hover .menu-content {
    display: block;
}


/* .container {
    display: grid;
    grid-template-areas: "head head" "menu content";
}

.container>div {
    border: 2px solid white;
    border-radius: 5px;
    background-color: gray;
    padding: 1em;
    color: white;
}

.tittle {
    grid-area: head;
}

.menu {
    grid-area: menu;
    position: sticky;
}

.content {
    grid-area: content;
}

.box {
    width: 100px;
    height: 100px;
    background: red;
    color: white;
}

.one {
    position: sticky;
}

.outer {
    width: 500px;
    height: 300px;
    padding-left: 150px;
} */